.elementor-1060 .elementor-element.elementor-element-e128a33>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1060 .elementor-element.elementor-element-70dc2952 {
    column-gap: 0px;
}

.elementor-1060 .elementor-element.elementor-element-70dc2952>.elementor-widget-container {
    margin: 0px 68px 0px 0px;
}

.elementor-1060 .elementor-element.elementor-element-4f304aa9 {
    margin-top: 93px;
    margin-bottom: 0px;
}

.elementor-1060 .elementor-element.elementor-element-d5bef10 {
    column-gap: 0px;
}

.elementor-1060 .elementor-element.elementor-element-d5bef10>.elementor-widget-container {
    margin: 0px 68px 0px 0px;
}

.elementor-1060 .elementor-element.elementor-element-45dad6da img {
    max-width: 100%;
    opacity: 1;
    border-radius: 0px 0px 0px 0px;
}

.elementor-1060 .elementor-element.elementor-element-45dad6da {
    width: 100%;
    max-width: 100%;
}

.elementor-1060 .elementor-element.elementor-element-72b8302d:not(.elementor-motion-effects-element-type-background),
.elementor-1060 .elementor-element.elementor-element-72b8302d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #28317c;
}

.elementor-1060 .elementor-element.elementor-element-72b8302d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 80px;
    margin-bottom: 0px;
    padding: 120px 0px 100px 0px;
}

.elementor-1060 .elementor-element.elementor-element-72b8302d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1060 .elementor-element.elementor-element-628eba62>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: rgba(229, 229, 229, 0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 25px 0px 025px;
}

.elementor-1060 .elementor-element.elementor-element-628eba62>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1060 .elementor-element.elementor-element-4690735d.elementor-position-right .elementor-image-box-img {
    margin-left: 23px;
}

.elementor-1060 .elementor-element.elementor-element-4690735d.elementor-position-left .elementor-image-box-img {
    margin-right: 23px;
}

.elementor-1060 .elementor-element.elementor-element-4690735d.elementor-position-top .elementor-image-box-img {
    margin-bottom: 23px;
}

.elementor-1060 .elementor-element.elementor-element-4690735d .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-1060 .elementor-element.elementor-element-4690735d .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-1060 .elementor-element.elementor-element-4690735d .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-1060 .elementor-element.elementor-element-4690735d .elementor-image-box-title {
    color: #ffffff;
    font-family: "Rubik", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.elementor-1060 .elementor-element.elementor-element-4690735d .elementor-image-box-description {
    color: #d8d8d8;
    font-family: "Lato", Sans-serif;
    font-size: 14px;
}

.elementor-1060 .elementor-element.elementor-element-e7327ab .elementor-spacer-inner {
    height: 50px;
}

.elementor-1060 .elementor-element.elementor-element-120305c a {
    font-size: 18px;
    line-height: 24px;
    font-family: Rubik;
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-120305c a svg {
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-120305c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1060 .elementor-element.elementor-element-120305c {
    width: auto;
    max-width: auto;
}

.elementor-1060 .elementor-element.elementor-element-65312815>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 01px 0px 0px;
    border-color: rgba(229, 229, 229, 0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 25px 0px 25px;
}

.elementor-1060 .elementor-element.elementor-element-65312815>.elementor-element-populated,
.elementor-1060 .elementor-element.elementor-element-65312815>.elementor-element-populated>.elementor-background-overlay,
.elementor-1060 .elementor-element.elementor-element-65312815>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-1060 .elementor-element.elementor-element-65312815>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1060 .elementor-element.elementor-element-26121a0a.elementor-position-right .elementor-image-box-img {
    margin-left: 23px;
}

.elementor-1060 .elementor-element.elementor-element-26121a0a.elementor-position-left .elementor-image-box-img {
    margin-right: 23px;
}

.elementor-1060 .elementor-element.elementor-element-26121a0a.elementor-position-top .elementor-image-box-img {
    margin-bottom: 23px;
}

.elementor-1060 .elementor-element.elementor-element-26121a0a .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-1060 .elementor-element.elementor-element-26121a0a .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-1060 .elementor-element.elementor-element-26121a0a .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-1060 .elementor-element.elementor-element-26121a0a .elementor-image-box-title {
    color: #ffffff;
    font-family: "Rubik", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.elementor-1060 .elementor-element.elementor-element-26121a0a .elementor-image-box-description {
    color: #d8d8d8;
    font-family: "Lato", Sans-serif;
    font-size: 14px;
}

.elementor-1060 .elementor-element.elementor-element-cb76837 .elementor-spacer-inner {
    height: 50px;
}

.elementor-1060 .elementor-element.elementor-element-3ab845c7 a {
    font-size: 18px;
    line-height: 24px;
    font-family: Rubik;
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-3ab845c7 a svg {
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-3ab845c7>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1060 .elementor-element.elementor-element-3ab845c7 {
    width: auto;
    max-width: auto;
}

.elementor-1060 .elementor-element.elementor-element-fda616b>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: rgba(229, 229, 229, 0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 25px 0px 25px;
}

.elementor-1060 .elementor-element.elementor-element-fda616b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1060 .elementor-element.elementor-element-64e56ae.elementor-position-right .elementor-image-box-img {
    margin-left: 23px;
}

.elementor-1060 .elementor-element.elementor-element-64e56ae.elementor-position-left .elementor-image-box-img {
    margin-right: 23px;
}

.elementor-1060 .elementor-element.elementor-element-64e56ae.elementor-position-top .elementor-image-box-img {
    margin-bottom: 23px;
}

.elementor-1060 .elementor-element.elementor-element-64e56ae .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-1060 .elementor-element.elementor-element-64e56ae .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-1060 .elementor-element.elementor-element-64e56ae .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-1060 .elementor-element.elementor-element-64e56ae .elementor-image-box-title {
    color: #ffffff;
    font-family: "Rubik", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.elementor-1060 .elementor-element.elementor-element-64e56ae .elementor-image-box-description {
    color: #d8d8d8;
    font-family: "Lato", Sans-serif;
    font-size: 14px;
}

.elementor-1060 .elementor-element.elementor-element-53a3cfb .elementor-spacer-inner {
    height: 50px;
}

.elementor-1060 .elementor-element.elementor-element-6785ea5d a {
    font-size: 18px;
    line-height: 24px;
    font-family: Rubik;
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-6785ea5d a svg {
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-6785ea5d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1060 .elementor-element.elementor-element-6785ea5d {
    width: auto;
    max-width: auto;
}

.elementor-1060 .elementor-element.elementor-element-5c2b0ab0>.elementor-element-populated {
    padding: 0px 25px 0px 25px;
}

.elementor-1060 .elementor-element.elementor-element-22772657.elementor-position-right .elementor-image-box-img {
    margin-left: 23px;
}

.elementor-1060 .elementor-element.elementor-element-22772657.elementor-position-left .elementor-image-box-img {
    margin-right: 23px;
}

.elementor-1060 .elementor-element.elementor-element-22772657.elementor-position-top .elementor-image-box-img {
    margin-bottom: 23px;
}

.elementor-1060 .elementor-element.elementor-element-22772657 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-1060 .elementor-element.elementor-element-22772657 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-1060 .elementor-element.elementor-element-22772657 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-1060 .elementor-element.elementor-element-22772657 .elementor-image-box-title {
    color: #ffffff;
    font-family: "Rubik", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.elementor-1060 .elementor-element.elementor-element-22772657 .elementor-image-box-description {
    color: #d8d8d8;
    font-family: "Lato", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.elementor-1060 .elementor-element.elementor-element-f433d41 .elementor-spacer-inner {
    height: 50px;
}

.elementor-1060 .elementor-element.elementor-element-15d2200c a {
    font-size: 18px;
    line-height: 24px;
    font-family: Rubik;
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-15d2200c a svg {
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-15d2200c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1060 .elementor-element.elementor-element-15d2200c {
    width: auto;
    max-width: auto;
}

.elementor-1060 .elementor-element.elementor-element-632e9829 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 80px;
    margin-bottom: 80px;
}

.elementor-1060 .elementor-element.elementor-element-632e9829>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1060 .elementor-element.elementor-element-73d6191a h3 {
    font-family: "Rubik", Sans-serif;
    font-size: 31px;
    font-weight: 500;
    font-style: oblique;
    line-height: 1.5em;
    letter-spacing: 0px;
    color: #d2ab67;
}

.elementor-1060 .elementor-element.elementor-element-73d6191a p {
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #28317c;
}

.elementor-1060 .elementor-element.elementor-element-73d6191a a {
    font-family: "Rubik", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 0.5px;
    color: #ffffff;
    background-color: #d2ab67;
}

.elementor-1060 .elementor-element.elementor-element-73d6191a .fn_cs_call_to_action {
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 0px;
    background-color: #28317c;
}

.elementor-1060 .elementor-element.elementor-element-73d6191a a:hover {
    color: #ffffff;
    background-color: #45a2df;
}

.elementor-1060 .elementor-element.elementor-element-197b7325>.elementor-container {
    max-width: 1116px;
    min-height: 400px;
}

.elementor-1060 .elementor-element.elementor-element-197b7325:not(.elementor-motion-effects-element-type-background),
.elementor-1060 .elementor-element.elementor-element-197b7325>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #00054a;
}

.elementor-1060 .elementor-element.elementor-element-197b7325 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1060 .elementor-element.elementor-element-197b7325>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1060 .elementor-element.elementor-element-d9bbce3 .title_holder {
    max-width: 400px;
}

.elementor-1060 .elementor-element.elementor-element-d9bbce3 h3 {
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-d9bbce3 h3 span {
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-d9bbce3 h3:after {
    background-color: #d0a967;
}

.elementor-1060 .elementor-element.elementor-element-1e1ab1f8 {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
}

.elementor-1060 .elementor-element.elementor-element-73f626b8 .title_holder {
    max-width: 402px;
}

.elementor-1060 .elementor-element.elementor-element-73f626b8 h3 {
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-73f626b8 h3 span {
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-73f626b8 h3:after {
    background-color: #d0a967;
}

.elementor-1060 .elementor-element.elementor-element-44560550 {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
}

.elementor-1060 .elementor-element.elementor-element-509b9d59 .title_holder {
    max-width: 402px;
}

.elementor-1060 .elementor-element.elementor-element-509b9d59 h3 {
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-509b9d59 h3 span {
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-509b9d59 h3:after {
    background-color: #d0a967;
}

.elementor-1060 .elementor-element.elementor-element-5be09549 {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
}

.elementor-1060 .elementor-element.elementor-element-3d1f3c22 .title_holder {
    max-width: 402px;
}

.elementor-1060 .elementor-element.elementor-element-3d1f3c22 h3 {
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-3d1f3c22 h3 span {
    color: #ffffff;
}

.elementor-1060 .elementor-element.elementor-element-3d1f3c22 h3:after {
    background-color: #d0a967;
}

.elementor-1060 .elementor-element.elementor-element-2d057b4b {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
}

@media(max-width:767px) {
    .elementor-1060 .elementor-element.elementor-element-4690735d .elementor-image-box-img {
        margin-bottom: 23px;
    }
    .elementor-1060 .elementor-element.elementor-element-26121a0a .elementor-image-box-img {
        margin-bottom: 23px;
    }
    .elementor-1060 .elementor-element.elementor-element-64e56ae .elementor-image-box-img {
        margin-bottom: 23px;
    }
    .elementor-1060 .elementor-element.elementor-element-22772657 .elementor-image-box-img {
        margin-bottom: 23px;
    }
}